body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.event-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  overflow: hidden;
}

.navbar-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5;
}

.event-page-container-sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 60px);
  padding: 20px 50px;
  box-sizing: border-box;
  margin-top: 10rem;
}

.event-page-left,
.event-page-right {
  display: flex;
  flex-direction: column;
}

.event-page-left {
  flex: 1.2;
  align-items: flex-start;
  padding-right: 20px;
}

.event-page-right {
  flex: 1;
  margin-left: 5rem;
  padding-left: 20px;
}

.event-page-right-header {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
}

.upcoming-events,
.recent-events {
  font-size: 2.2rem;
  margin: 0;
  color: #ffffff;
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}

.recent-events {
  margin-left: 40px;
}

.upcoming-events::before,
.recent-events::before {
  content: "#";
  position: absolute;
  font-size: 4rem;
  left: -2%;
  top: -30%;
  color: rgba(108, 99, 255, 0.2);
  text-shadow: #6c63ff 1 1 1px;
  z-index: 1;
}

.upcoming-events::after,
.recent-events::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #6c63ff;
  margin-top: 8px;
  box-shadow: 0 4px 8px #6c63ff;
  border-radius: 5px;
}

.event-page-right-upperhalf,
.event-page-right-lowerhalf {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 0;
}

.event-page-right-wrap-lowerhalf {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upcoming-events-container,
.recent-events-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 0;
  overflow: hidden;
  max-width: calc(2 * 380px + 40px); /* Adjust 200px to the width of your TinyCard and 20px to the gap */
  scroll-behavior: smooth; /* Add smooth scrolling */
}

.upcoming-events-container > span,
.recent-events-container > span {
  display: inline-block;
  flex: none;
}

.upcoming-events-container::-webkit-scrollbar,
.recent-events-container::-webkit-scrollbar {
  display: none;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  transition: opacity 0.3s ease-in-out;
}

.arrow-left {
  border-width: 10px 15px 10px 0;
  border-color: transparent #ffffff transparent transparent;
  margin-right: 20px;
}

.arrow-right {
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #ffffff;
  margin-left: 20px;
}

.arrow.disabled {
  opacity: 0.3;
  pointer-events: none;
}

@media (max-width: 700px) {
  .event-page-left {
    height: auto;
    margin-top: 20px;
  }

  .recent-events-container,
  .upcoming-events-container {
    flex-direction: column;
  }

  .tiny-card {
    flex: 1;
    margin: 10px 0;
  }
}