.card-container {
  width: 450px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: var(--purple) 2px solid;
  background-color: #111;
}

.card-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  opacity: 1;
  z-index: -1;
}

.card-image {
  width: 100%;
  height: 180px;
  background-color: #111;
  overflow: hidden;
  position: relative;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  transition: transform 0.3s ease-in-out;
}

.card-container:hover .card-image img {
  transform: scale(1.1);
}

.card-content {
  padding: 20px;
  position: relative;
  z-index: 1;
}

.card-date {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 5px;
}

.card-title {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
  font-weight: bold;
}

.card-description {
  font-size: 0.95rem;
  line-height: 1.5;
  opacity: 0.9;
  margin: 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.card-footer .icon {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  opacity: 0.8;
}

.card-footer .icon img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.card-container:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 0 20px rgba(110, 110, 255, 0.7);
}

.card-container:hover::after {
  opacity: 1;
}

/* Tiny Card */
.tiny-card-container {
  display: grid;
  row-gap: 3.5rem;
  border: 2px solid var(--purple);
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(96,92,252, 0.5); /* Added background glow */
}

.tiny-card-article {
  position: relative;
}

.tiny-card-img {
  width: 380px;
  height: 280px;
  border-radius: 1.5rem;
  transition: transform 0.3s ease-in-out; /* Added transition for smooth scaling */
}

.tiny-card-img:hover {
  transform: scale(1.1); /* Changed 'scale' to 'transform: scale' */
}

.tiny-card-data {
  width: 280px;
  background-color: #333;
  padding: .5rem 2rem;
  box-shadow: 0px 12px 30px hsla(0, 0%, 0%, 0.25); 
  border-radius: 1rem;
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  transform: translateY(10rem);
  text-align: left; /* Align text to the left */
}

.tiny-card-data .text-content {
  max-height: 100px; 
  overflow: hidden; 
}

.tiny-card-content {
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #f0f0f0; 
  margin-block: 1.5rem;
  text-align: left; /* Align text to the left */
}

.tiny-card-title {
  font-size: 1.6rem; 
  font-weight: 600; 
  color: #ffffff; 
  margin-bottom: 0;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
  text-align: left; /* Align text to the left */
}

.tiny-card-date {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  opacity: 0.8;
  margin-top: 0;
  text-align: left; /* Align text to the left */
}

.tiny-card-date h4 {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  text-align: left; /* Align text to the left */
}

.tiny-card-date span {
  font-size: 0.8rem;
  opacity: 0.8;
  text-align: left; /* Align text to the left */
}

.tiny-card-description {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left; /* Align text to the left */
}

.tiny-card-description h4 {
  font-size: 1.1rem; 
  font-weight: 500; 
  color: #cfcfcf; 
  margin: 0;
  text-align: left; /* Align text to the left */
}

.tiny-card-description span {
  font-size: 0.9rem;
  color: #b0b0b0; 
  opacity: 0.8;
  text-align: left; /* Align text to the left */
}

.tiny-card-article:hover .tiny-card-data {
  animation: bounceIn 0.6s forwards;
  opacity: 1;
  transform: translateY(0);
}

.tiny-card-article:not(:hover) .tiny-card-data {
  animation: bounceOut 0.6s forwards;
  opacity: 0;
  transform: translateY(10rem);
}

/* Long Card.css */
.long-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 1s ease-out, transform 1s ease-out;
}


.long-card-container.left {
  flex-direction: row;
}

.long-card-container.right {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
}

.long-card-container.left .text h1 {
  margin-right: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.long-card-container.left .text p {
  margin-right: 20px;
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
}

.long-card-container.right .text h1 {
  margin-left: 20px;
  text-align: right;
  font-size: 36px;
  margin-bottom: 20px;
}

.long-card-container.right .text p {
  margin-left: 20px;
  text-align: right;
  font-size: 18px;
  line-height: 1.6;
}

.long-card-container.left .long-card-image {
  flex: 1;
  text-align: right;
  position: relative;
}

.long-card-container.right .long-card-image {
  flex: 1;
  text-align: left;
  position: relative;
}

.long-card-image {
  position: relative;
  flex: 1;
  text-align: center;
  display: inline-block;
}

.long-card-image .hash1,
.long-card-image .hash2,
.long-card-image .hash3 {
  content: "";
  position: absolute;
  width: 900px;
  height: 100px;
  background: repeating-linear-gradient(
    45deg,
    var(--purple),
    #ffffff 10px,
    transparent 10px,
    transparent 20px
  );
  z-index: 0;
    border-radius: 10px;
  animation: pulse 2s infinite;
}

.long-card-container.left .long-card-image .hash1 {
  top: 0rem;
  left: 10%;
  transform: translate(-50%, -150%) rotate(0deg);
  animation: pulse 2s infinite;
}

.long-card-container.left .long-card-image .hash2 {
  top: 8rem;
  left: 15%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: pulse 2s infinite 0.5s; 
}

.long-card-container.left .long-card-image .hash3 {
  top: 15.5rem;
  left: 20%;
  transform: translate(-66%, 50%) rotate(0deg);
  animation: pulse 2s infinite 1s; 
}

.long-card-container.right .long-card-image .hash1 {
  top: 0rem;
  left: -40%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: pulse 2s infinite;
}

.long-card-container.right .long-card-image .hash2 {
  top: 8rem;
  left: -45%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: pulse 2s infinite 0.5s; 
}

.long-card-container.right .long-card-image .hash3 {
  top: 15.5rem;
  left: -50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: pulse 2s infinite 1s; 
}

.long-card-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in-out;
  max-height: 500px;
  overflow: hidden;
  max-width: 450px;
  top: 1rem;
}

.long-card-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}





@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  40% {
    opacity: 1;
    transform: translateY(-9rem);
  }
  60% {
    transform: translateY(-8rem);
  }
  80% {
    transform: translateY(-9rem);
  }
  100% {
    transform: translateY(-10.1rem); /* Adjusted to end higher up */
  }
}

@keyframes bounceOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.5rem);
  }
  40% {
    transform: translateY(1rem);
  }
  60% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 0;
    transform: translateY(10rem);
  }
}

