.modal {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 87%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-top: 12.5rem;
  border-radius: 20px;
  box-shadow: 0 2px 20px rgba(110, 110, 255, 0.5);
  overflow: hidden;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
  background: #444;
  padding: 20px;
  border-radius: 15px;
  color: #eee;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  animation: zoomIn 0.5s ease-in-out;
}

.image-container {
  background-color: #555;
  width: 95%;
  height: 55%;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  animation: imageBounce 1.5s ease-in-out infinite alternate;
}

.event-info {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  color: #ccc;
  font-size: 0.8rem;
}

.event-info-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.event-info h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
}

.event-info-date,
.event-info-guest {
  margin: 0;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #bbb;
}

.event-info-guest {
  margin: 0;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #aaa;
}

.description {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #eee;
}

.description h2 {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.description p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  color: #ccc;
}

.modal-content button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: var(--purple);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 95%;
  height: 2.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal-content button:hover {
  background-color: var(--purple);
  transform: scale(1.05);
}

.modal.closing {
  animation: slideOutToRight 0.5s ease-in-out;
}
