/* Add this to your Navbar.css file */

body {
  padding: 0;
  margin: 0;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.nav-links li {
  margin-left: 2rem;
  position: relative; 
}

.nav-links a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
  position: relative; 
  z-index: 1;
}

.nav-links a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6e6eff;
  transform: scale(0);
  transition: transform 0.3s ease;
  z-index: -1; 
  border-radius: 5px;
}

.nav-links a:hover::before {
  transform: scale(1);
}

.nav-links a:hover {
  color: #fff; /* Change text color on hover for better contrast */
}

.logo-container-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000000;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  animation: spin 2.5s ease-in-out;
}

.logo-container-navbar h1 {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.logo-container-navbar h1::after {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background-color: #ffffff;
  margin: 5px auto 2px auto;
}

.logo-container-navbar p {
  font-size: 4.5px;
  letter-spacing: 1px;
  color: #6e6eff;
  text-shadow: 0 0 8px #6e6eff;
  margin: 2px 0 0 0;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}