body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.streaming-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0000;
}

.navbar-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5;
}

.streaming-hero-section {
  width: 100%;
  padding: 5rem 2rem;
  background: linear-gradient(135deg, #6e6eff, #3e3eff, #000000);
  color: white;
  text-align: center;
  margin-top: 5%;
  border-radius: 15px;
  height: 30vh;
  animation: slideFromTop 1s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-attachment: fixed;
}

.streaming-hero-section h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  margin-top: 65px;
  position: relative;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.streaming-hero-section h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 60%;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.5);
}

.streaming-hero-section p {
  font-size: 1.8rem;
  margin: 0;
  opacity: 0.85;
}

.content-area {
  width: 100%;
  padding: 2rem;
  background: linear-gradient(90deg, #000000, #1a1a1a);
}

.trending-area {
  width: 100%;
  padding: 5rem 1rem;
  color: white;
  text-align: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
  background: linear-gradient(90deg, #000000, #333333);
  margin-bottom: 2rem;
  border-bottom: 4px solid #6e6eff;
}

.trending-area h1 {
  font-size: 2.5rem;
  margin: 2.5rem 0;
  color: #ffffff;
  position: relative;
  left: 20px;
  animation: slideIn 1s ease-in-out;
}

.trending-area h1::after {
  content: "";
  position: absolute;
  left: 15%;
  bottom: -10px;
  width: 29.5%;
  transform: translateX(-50%);
  height: 4px;
  background-color: var(--purple);
  box-shadow: 0 0 10px rgba(110, 110, 255, 0.7),
    0 0 20px rgba(110, 110, 255, 0.5);
  border-radius: 5px;
}

.trending-area-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  animation: fadeInUp 1s ease-in-out, bob 2s infinite ease-in-out;
  backface-visibility: hidden;
  will-change: transform;
}

.recent-episodes-area {
  width: 100%;
  padding: 5rem 1rem;
  color: white;
  text-align: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
  background: linear-gradient(90deg, #000000, #333333); /* Flipped gradient */
  border-top: 4px solid #6e6eff;
  margin-bottom: 2rem;
  border-bottom: 4px solid #6e6eff;
}


.recent-episodes-area h1, .full-library-episode h1 {
  font-size: 2.5rem;
  margin: 2.5rem 0;
  color: #ffffff;
  position: relative;
  left: 20px;
  animation: slideInFromRight 1s ease-in-out;
}

.recent-episodes-area h1::after, .full-library-episode h1::after {
  content: "";
  position: absolute;
  left: 15%;
  bottom: -10px;
  width: 29.5%;
  transform: translateX(-50%);
  height: 4px;
  background-color: var(--purple);
  box-shadow: 0 0 10px rgba(110, 110, 255, 0.7),
    0 0 20px rgba(110, 110, 255, 0.5);
  border-radius: 5px;
}

.recent-episodes-card-container,.full-library-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  animation: fadeInUp 1s ease-in-out, bob 2s infinite ease-in-out;
  backface-visibility: hidden;
  will-change: transform;
}
.full-library-episode {
  width: 100%;
  padding: 5rem 1rem;
  color: white;
  text-align: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
  background: linear-gradient(90deg, #000000, #333333); /* Flipped gradient */
  border-top: 4px solid #6e6eff;
}
/* Adding a hashed effect background to trending-area and recent-episodes-area */
.trending-area,
.recent-episodes-area {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.trending-area::before,
.recent-episodes-area::before, .full-library-episode::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.05) 75%,
    transparent 75%,
    transparent
  );
  background-size: 20px 20px;
  pointer-events: none;
  opacity: 0.15;
  z-index: 1;
}

.trending-area > *,
.recent-episodes-area > *, .full-library-episode > * {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .streaming-hero-section {
    height: auto;
    padding: 2rem 1rem;
  }

  .streaming-hero-section h1 {
    font-size: 3rem;
  }

  .streaming-hero-section p {
    font-size: 1.2rem;
  }

  .trending-area h1 {
    font-size: 2rem;
  }

  .trending-area-card-container .card,
  .recent-episodes-card-container .card {
    padding: 0.75rem;
  }
}
